<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="form-fields" style="margin-bottom: 3px;">              
    <input class="soundboard-name" type="text" value="{{name}}">
  </div>
</form>